<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item"><a routerLink="/rutas">Rutas</a></li>
           <li class="breadcrumb-item active">Rutas-Transurbano</li>
        </ol>
    </nav>
    <div class="pagetitle" style="margin-top: -5px; margin-bottom: 20px;">
       <h1>Rutas Transurbano</h1>
    </div>
    <section class="section dashboard">
       <div>
          <div class="col-lg-12">
            
            <!-- 3 rutas -->
            <div class="row">
                <div class="col-lg-8">
                   <div class="row">
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea1.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>3.79 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>30 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 1 - Zona 1</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea2.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>2.50 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>30 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 2 - Zona 2</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea6.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>9.90 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>30 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 6 - Zona 6</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>  <!-- Fin 3 rutas -->

             <!-- 3 rutas -->
            <div class="row">
                <div class="col-lg-8">
                   <div class="row">
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea12.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>11.4 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>30 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 12 - Zona 12</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea13.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>13.6 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>30 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 13 - Zona 13</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Linea18.jpg" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>9.40 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Linea 18 - Zona 18</div>
                                        <a routerLink="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>  <!-- Fin 3 rutas -->

         </div>
       </div>
    </section>
    <div class="btn-volver">
        <a routerLink="/rutas" class="social-button card-button-right" style="font-size: 17px;">Volver</a>
    </div>
 </main>