<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item"><a href="/rutas">Rutas</a></li>
           <li class="breadcrumb-item active">Ruta-Info</li>
        </ol>
    </nav>
    <section class="section dashboard">
       <div class="">

          <div class="col-lg-12">
            <div class="row">
               <div class="mapa">
                  <div class="card sales-card">
                     <div class="card-body">
                        <h5 class="card-title"></h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d15440.761924014827!2d-90.49991010881995!3d14.645126200332244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!1s0x8589a29b50d70d73%3A0xb570c02319b0847b!3m2!1d14.651961!2d-90.4780791!4m5!1s0x8589a21a720c2ffb%3A0xc874cabdb47d6e2a!2s3A%20Avenida%2C%20Ciudad%20de%20Guatemala!3m2!1d14.642394099999999!2d-90.5169375!5e0!3m2!1ses!2sgt!4v1664060301855!5m2!1ses!2sgt" width="950" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-lg-12">
                  <div class="row">
                     
                    <div class="col-xxl-4 col-md-12">
                        <div class="card sales-card">
                           <div class="card-body card-stats">
                                <h5 class="card-title"><img src="assets/img/route_distance.svg">   Resumen de la ruta</h5>
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-content">
                                       <div class="direc">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur dolor consectetur.</p>
                                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio porro autem, illum officia quod eius reiciendis aliquam facere optio nobis ex, dolore tempora labore sint! Suscipit est sapiente iste totam.
                                            Nulla, numquam tempora ratione deserunt culpa repellendus dicta ipsum magnam maiores, a, dolore iste. Suscipit molestiae voluptas, a commodi totam facere quisquam accusantium deserunt enim expedita cupiditate autem, officia doloribus.
                                            Iure adipisci inventore quis sapiente voluptas, totam sunt eaque eveniet ab! Deleniti, assumenda. Deserunt, earum non mollitia sit nihil quis, praesentium est rerum corrupti maiores dolorem. In rem accusantium harum.
                                            Voluptatum, dolore! Tenetur asperiores perferendis velit est sequi vero quas ipsam consequuntur mollitia, quae fuga, blanditiis officia temporibus eius. Ex sed praesentium eligendi placeat incidunt commodi modi quibusdam nemo odio.
                                            Voluptatibus, pariatur repudiandae! Autem, ipsum! Vitae nisi ipsam esse non qui omnis perspiciatis, quisquam iste aspernatur nostrum architecto vel culpa natus saepe doloremque consectetur quam earum ipsa blanditiis. Dolorum, corrupti!</p>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>              
         </div>
       </div>
    </section>
    <div class="btn-volver">
        <a href="/rutas" class="social-button card-button-right">Volver</a>
    </div>
 </main>