<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item"><a href="/rutas">Rutas</a></li>
           <li class="breadcrumb-item active">Ruta-Info</li>
        </ol>
    </nav>
    <section class="section dashboard">
       <div class="">

          <div class="col-lg-12">
            <div class="row">
               <div class="mapa">
                  <div class="pagetitle">
                     <h1>Rutas Zona 1</h1>
                  </div>
                  <div class="card sales-card">
                     <div class="card-body">
                        <h5 class="card-title"></h5>
                        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1c6GTEU1r5j98au2aoSsFu4xB-puZzMA&ehbc=2E312F" width="950" height="550" style="border-radius:5px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-lg-12">
                  <div class="row">
                     
                    <div class="col-xxl-4 col-md-12">
                        <div class="card sales-card">
                           <div class="card-body card-stats">
                                <h5 class="card-title" style="font-size: 20px;"><img src="assets/img/route_distance.svg">   Resumen de la ruta</h5>
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-content">
                                       <div class="direc">
                                            <p>La línea 1 del Transmetro funciona en horario de lunes a viernes de 5:30 a.m. a 8:00 p.m., sábado de 5:30 a.m. a 7:00 p.m. y domingo de 6:30 a.m. a 7:00 p.m.</p>
                                            <p>Estas son las paradas:</p>
                                            <ul>
                                                <li>Parque San Sebastián</li>
                                                <li>Mercado Central</li>
                                                <li>Edificio de Correos</li>
                                                <li>Beatas de Belén</li>
                                                <li>Paseo de las letras</li>
                                                <li>Centro cívico</li>
                                                <li>Sur 2</li>
                                                <li>Gómez Carrillo</li>
                                                <li>San Agustín</li>
                                                <li>Parque Centenario</li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>              
         </div>
       </div>
    </section>
    <div class="btn-volver">
        <a href="/rutas" class="social-button card-button-right" style="font-size: 17px;">Volver</a>
    </div>
 </main>