<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item active">Rutas</li>
        </ol>
    </nav>
    <div class="pagetitle">
       <h1>Rutas</h1>
    </div>
    <section class="section dashboard">
       <div>
          <div class="col-lg-12">
            
                <div class="row">
                   <div class="mapa">
                      <div class="card sales-card">
                         <div class="card-body">
                            <h5 class="card-title"></h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49213.239264089374!2d-90.55553257786958!3d14.63287975924343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a3bc2e8bf719%3A0xd856924682f2257a!2sCiudad%20de%20Guatemala!5e0!3m2!1ses!2sgt!4v1664059661146!5m2!1ses!2sgt" width="950" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                         </div>
                      </div>
                   </div>
                </div>

            <!-- 3 rutas -->
            <div class="row">
               <div class="col-lg-8">
                  <div class="row">
                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div> <!-- Fin 3 rutas -->

            <!-- 3 rutas -->
            <div class="row">
                <div class="col-lg-8">
                   <div class="row">
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>  <!-- Fin 3 rutas -->

             <!-- 3 rutas -->
            <div class="row">
                <div class="col-lg-8">
                   <div class="row">
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div class="col-xxl-4 col-md-6">
                         <div class="card sales-card">
                            <div class="card-body">
                               <div class="d-flex align-items-center">
                                  <div class="ps-3">
                                     <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                        <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                     </div>
                                     <div class="card-content">
                                        <div class="card-stats">
                                           <div class="card-stat">
                                              <img src="assets/img/route_distance.svg">
                                              <span>6.3 Km</span>
                                           </div>
                                           <div class="card-stat card-stat-push-right">
                                              <img src="assets/img/route_duration.svg">
                                              <span>27 min</span>
                                           </div>
                                        </div>
                                        <div class="direc">Zona 18 - Zona 1</div>
                                        <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
              </div> <!-- Fin 3 rutas -->

         </div>
       </div>
    </section>
    <div class="btn-volver">
        <a href="/dashboard" class="social-button card-button-right">Volver</a>
    </div>
 </main>