<main id="main" class="main">
    <div class="pagetitle">
       <h1>Inicio</h1>
    </div>
    <section class="section dashboard">
       <div class="">
          <div class="col-lg-12">
             <div class="row">
               <div class="ps-3 boton-buscar col-xxl-2 col-md-4">
                  <a href="/rutas">
                     <img src="assets/img/find.svg" alt="">
                     <div>Buscar Rutas</div>
                  </a>
               </div>

               <div class="ps-3 boton-hacer col-xxl-2 col-md-4">
                  <a href="#">
                     <img src="assets/img/make.svg" alt="">
                     <div>Hacer Rutas</div>
                  </a>
               </div>
            </div>

            <div class="row">
               <div class="mapa">
                  <div class="card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Mapa de Guatemala</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247073.28229472062!2d-90.76319069145758!3d14.626396196700162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a180655c3345%3A0x4a72c7815b867b25!2sCdad.%20de%20Guatemala!5e0!3m2!1ses!2sgt!4v1663894789616!5m2!1ses!2sgt" width="950" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                  </div>
               </div>
            </div>

            <!-- <div class="row">
               <div class="col-lg-8">
                  <div class="row">
                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-xxl-4 col-md-6">
                        <div class="card sales-card">
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="ps-3">
                                    <div class="card-image card-image-small" style="margin-left: -33px; margin-top: 3px;">
                                       <img src="assets/img/Captura.JPG" style="width: 307px; height: 160px;">
                                    </div>
                                    <div class="card-content">
                                       <div class="card-stats">
                                          <div class="card-stat">
                                             <img src="assets/img/route_distance.svg">
                                             <span>6.3 Km</span>
                                          </div>
                                          <div class="card-stat card-stat-push-right">
                                             <img src="assets/img/route_duration.svg">
                                             <span>27 min</span>
                                          </div>
                                       </div>
                                       <div class="direc">Zona 18 - Zona 1</div>
                                       <a href="/ruta-info" class="social-button card-button-right">Ver ruta</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>               -->
         </div>
       </div>
    </section>
    <!-- <div class="btn-rutas">
      <a href="/rutas" class="social-button card-button-right">Ver Todas</a>
    </div> -->
 </main>